# Python cache and temp files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pycache
# VSCode
.vscode/
# Jupyter
.ipynb_checkpoints/
# Mac
.DS_Store
# Env
.env
.env.*
# OS
Thumbs.db
# PyCharm
.idea/
# Logs
*.log
# Backend uploads
/uploads 